<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <form>
    <div class="pb-3">
      <%= form.label :commenter, style: "display: block", class: "form-label" %>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public',  input_html: {class: 'form-select'} %>
    </div>
    <div class="mb-3">
      <%= form.label :commenter, style: "display: block", class: "form-label" %>
      <%= form.text_area :commenter, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :body, style: "display: block", class: "form-label"  %><br>
      <%= form.text_area :body,  class: "form-control"  %>
    </div>
    <div class="mb-3">
      <%= form.submit "Save", style: "display: block", class: "btn btn-success btn-block" %>
    </div>
  </form>
<% end %>
