<div class="container">
  <%= form_with(model: user) do |form| %>
    <% if user.errors.any? %>
      <div style="color: red" class="mb-3">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :username, style: "display: block" %>
      <%= form.text_field :username %>
    </div>
    <div class="mb-3">
      <%= form.label :email, style: "display: block" %>
      <%= form.email_field :email %>
    </div>
    <div class="mb-3">
      <%= form.label :password, style: "display: block" %>
      <%= form.password_field :password %>
    </div>


    <div  class="mb-3">
      <%= form.submit "Save", class: "btn btn-success btn-block" %>
    </div>
  <% end %>
</div>